.camera2-size {
  width: 75%; /* Adjust the width as needed */
  height: auto;
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translate(-50%, -33%);
}

.camera3-size {
  width: 75%;
  height: auto;
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translate(-50%, -33%);
}

/* Camera 1 positioning and sizing */
.camera1-container {
  top: 52%;
  transform: translateX(-50%) translateY(-33.33%);
}

.camera1-image {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .camera2-size {
    top: 2em;
  }
  .camera1-container {
    top: 52%;
  }

  .camera1-image {
    width: 90%;
  }
  .camera3-size {
    top: 2em;
  }
}

.scale-90 {
  transform: scale(0.9);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.scale-95 {
  transform: scale(0.95);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.scale-100 {
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
